<ion-view view-title="Dashboard">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="logout()">
      <i class="icon ion-power"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider" style="background-color: #387ef5; color: white;">Fruits</div>
      <a href="#" class="item item-icon-right" ng-repeat="f in fruits">
        {{f.name}}
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
